.btn {
    pointer-events: none;
    opacity: .4;
    transition: all .45s ease-in-out;
}

.activeBtn {
    opacity: 1;
    pointer-events: all;
}

.liqPayComp {
    position: fixed;
  
    background-color: #fff;
    z-index: 1000;
    width: 100vw;
}


/* LOADER */

.loaderBlock {
    position: fixed;
    top: 120px;
    left: 0;right: 0;bottom: auto;
    margin: auto;
    z-index: 5;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    perspective: 800px;
}


.loader {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}

.loader.loaderOne {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid var(--black);
}

.loader.loaderTwo {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid var(--black);
}

.loader.loaderThree {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid var(--black);
}

@keyframes rotate-one {
0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
}
100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
}
}

@keyframes rotate-two {
0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
}
100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
}
}

@keyframes rotate-three {
0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
}
100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
}
}

